<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.4-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
    <style type="text/css">
        html,body {
          font-family: 'Open Sans', serif;
          font-size: 14px;
          font-weight: 300;
        }
        .hero.is-success {
          background: #F2F6FA;
        }
        .hero .nav, .hero.is-success .nav {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        .box {
          margin-top: 5rem;
        }
        .avatar {
          margin-top: -70px;
          padding-bottom: 20px;
        }
        .avatar img {
          padding: 5px;
          background: #fff;
          border-radius: 50%;
          -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
          box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
        }
        input {
          font-weight: 300;
        }
        p {
          font-weight: 700;
        }
        p.subtitle {
          padding-top: 1rem;
        }
    </style>

</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Sign Up</h3>
                    <p class="subtitle has-text-grey">Please sign up to interact with Jason's web apps!</p>
                    {{#if error}}
                      <p style="color: red;">{{this.error}}</p>
                    {{/if}}
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://placehold.it/128x128">
                        </figure>
                        <form method="POST">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="firstName" name="firstName" id="firstName" placeholder="First Name" autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="lastName" name="lastName" id="lastName" placeholder="Last Name" autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" name="email" id="email" placeholder="Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="password" id="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth" type="submit"><i class="far fa-user fa-sm"></i>Sign Up</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/signup">Sign Up | </a>
                        <a href="/forgot">Forgot Password | </a>
                        <a href="/">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>