<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Jason Schmitt | Software Engineer</title>
    <meta charset="UTF-8">
    <meta name="description" content="Jolpai html5 based template.">
    <meta name="keywords" content="Jolpai, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <!-- <link href="images/favicon.ico" rel="shortcut icon"/> -->

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Athiti:300,400" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="public/assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="public/assets/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="public/assets/vendor/magnific-popup.css">
    <link rel="stylesheet" href="public/assets/vendor/animate.min.css">
    <link rel="stylesheet" href="public/assets/vendor/style.css">
    <link rel="stylesheet" href="public/assets/vendor/custom.css">

    <!-- Theme Skin -->
    <link class="template-skins" rel="stylesheet" href="public/assets/vendor/skins/default.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--====== Preloader Start ======-->
    <div id="preloder" style="display: none;">
      <div class="loader" style="display: none;"><div></div><div></div><div></div></div>
    </div>
    <!--====== Preloader End ======-->

    <!--====== Header Section Start ======-->
    <header class="header-section">
      <div class="logo">
    <!-- Logo -->
    <a href="#">Jason Schmitt</a>
  </div>
  <div class="responsive"><i class="fa fa-bars"></i></div>
  <!-- Navigation -->
  <ul class="menu-list">
    <li><a href="#">Home</a></li>
    <li class="current"><a href="#about">About</a></li>
    <li><a href="#resume">Resume</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
  </ul>
    </header>
    <!--====== Header Section End ======-->



    <!-- ==== About Section Start ==== -->
    <section class="about-section fix" id="about">
      <div class="container pt100 pb100">
    <div class="row">
      <div class="mb70">
        <h2></h2>
      </div>
      <div class="col-md-3 about-img">
        <img src="public/assets/images/schmitt.jpg" alt="">
      </div>
      <div class="col-md-9 about-text">
        <p>I am Jason Schmitt, currently residing in Raleigh, North Carolina, working as a JavaScript Developer.</p>

        <p>I started writing html/css in high school at age 15, making an angelfire website with the main content being photographs and videos of my friends and I skateboarding. Fast forward to today, I have obtained a degree concentrating in Software Engineering from UNC Charlotte, as well as have over 3 years of professional web development experience ranging from retail websites to banking to ecommerce to your local pizzeria.</p>

        <p>My professional website efforts include working on a/b testing and analytics as well as small projects for ecommerce websites.</p>

        <p>Specialities: Node.js, HTML5, CSS3, JavaScript, jQuery, Responsive Web Design, Mobile Web, Git, Gulp. Looking for a git based agile team preferably working with node, mongodb, handlebars/react, sass, mvc/mv* architecture.</p>

        <p>Below are the professional websites I have written html, css and javascript for.</p>

        <p>Thank you for your time.</p>

        <a href="public/assets/images/JasonSchmittResumeJuly2018.pdf" target="_blank"><button type="button" class="resume btn site-btn btn-outline transition-ease mt10" data-wow-delay="0.1s">Download Resume</button></a>
        <div class="social-links mt25">
          <a href="https://www.linkedin.com/in/jason-schmitt-aa974932/" target="_blank" class="facebook wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
  </div>
    </section>
    <!-- ==== About Section End ==== -->


    <!-- ==== Skill Section Start ==== -->
    <!-- <div class="skill-section fix">
      
    </div> -->
    <!-- ==== Skill Section End ==== -->


    <!-- ==== About Section Start ==== -->
    <section class="service-section fix">
      <div class="container pt100 pb100">
      <div class="section-title mb70">
          <h2>Sites written JavaScript for</h2>
      </div>
      <div class="row service-section-js">
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
              <div class="service-item">
                  <!-- <i class="fa fa-desktop"></i> -->
                  <img class="service-img" src="public/assets/images/lowes/logo.jpg">
                  <h4>Lowe's Home Improvement</h4>
                  <p>Daily Production, Projects, Analytics and A/B testing</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/toysrus/logo.png">
                  <h4>Toy's R Us</h4>
                  <p>Lead developer. Analytics and A/B testing</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/suntrust/logo.png">
                  <h4>SunTrust</h4>
                  <p>Analytics and A/B testing</p>
              </div>
          </div>
      </div>
      <div class="row mt30">
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/barnes/logo.svg">
                  <h4>Barnes and Noble</h4>
                  <p>Analytics and A/B testing</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/uber/logo.png">
                  <h4>Uber</h4>
                  <p>Analytics and A/B testing</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/oppenheimer/logo.jpg">
                  <h4>Oppenheimer Funds</h4>
                  <p>Analytics and A/B testing</p>
              </div>
          </div>
      </div>
      <div class="row mt30">
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/totalwine/logo.jpg">
                  <h4>Total Wine</h4>
                  <p>Analytics</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/clinique/logo.svg">
                  <h4>Clinique</h4>
                  <p>Analytics and A/B testing</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
              <div class="service-item">
                  <img class="service-img" src="public/assets/images/cozzolinos/logo.jpg">
                  <h4>Cozzolino's New York Style Pizzeria</h4>
                  <p>My first paying client.</p>
              </div>
          </div>
      </div>
      <div class="and-more">
          <h2>and some.</h2>
      </div>
  </div>
    </section>
    <!-- ==== About Section End ==== -->


    <!-- ==== Resume Section Start ==== -->
    <section class="resume-section fix" id="resume">
      <div class="container pt100 pb90">
      <div class="section-title mb100">
          <h2>Employers</h2>
      </div>
      <div class="row mt40">
          <!-- Resume Item -->
          <div class="resume-js col-md-offset-2 col-md-9">
          <div class="resume-item row">
                      <div class="col-md-6 col-sm-6 resume-left wow fadeInUp" data-wow-delay="0.15s" style="visibility: hidden; animation-delay: 0.15s; animation-name: none;">
                        <div>
                        <a href="#"><img style="height: 50px; width: 50px" src="https://media.glassdoor.com/sqll/247760/brooks-bell-squarelogo-1464986694299.png"></a>
                          <h2 class="capitalize">brooks bell</h2>
                          <p>July 2017-February 2018</p>
                          <p class="capitalize">raleigh, north carolina</p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 resume-right">
                        <h2 class="capitalize">javascript developer</h2>
                        <p>Employed as a JavaScript Developer, I am responsible for delivering front end web solutions for clients of Brooks Bell using primarily Adobe Target, as well as Optimizely and Monetate. Serving as the tech lead of Adobe Target mentoring a team of junior developers.<br><br></p>
                        <ul><li class="list-unstyled margin-bottom-10">Facilitated Adobe Target campaign launches.</li><li class="list-unstyled margin-bottom-10">Implemented A/B Testing strategy for high volume Adobe Target campaign pushes.</li><li class="list-unstyled margin-bottom-10">Wrote a/b tests for SunTrust, Barnes &amp; Noble, Toys R Us, Uber, American Express, Clinique, Nickelodeon and Oppenheimer Funds.</li><li class="list-unstyled margin-bottom-10">Train and mentor Junior/Intermediate level developers dom manipulation, modular javascript, css, a/b testing process, Adobe Target.</li><li class="list-unstyled margin-bottom-10">Adobe Target SME. Train developers and project managers on how to use Adobe Target.</li><li class="list-unstyled margin-bottom-10">Utilized Optimizely and Monetate as content delivery networks for a/b test scripts.</li><li class="list-unstyled margin-bottom-10">Utilized git version control</li><li class="list-unstyled margin-bottom-10">Implemented code review process for Junior/Intermediate developers.</li><li class="list-unstyled margin-bottom-10">Preformed code reviews for Junior/Intermediate developers.</li><li class="list-unstyled margin-bottom-10">Interviewed candidates for full-time positions from a technical perspective.</li></ul>
                      </div>
                    </div><div class="resume-item row">
                      <div class="col-md-6 col-sm-6 resume-left wow fadeInUp" data-wow-delay="0.15s" style="visibility: hidden; animation-delay: 0.15s; animation-name: none;">
                        <div>
                        <a href="#"><img style="height: 50px; width: 50px" src="https://img.grouponcdn.com/coupons/cCQ8NrxHNJAVMT9b5mmHh3/lowes-highres-500x500"></a>
                          <h2 class="capitalize">lowe's home improvement</h2>
                          <p>January 2015-July 2017</p>
                          <p class="capitalize">mooresville, north carolina</p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 resume-right">
                        <h2 class="capitalize">software developer</h2>
                        <p>Employed as a software developer, I was responsible for daily content updates, projects, a/b test development and analytics.<br><br></p>
                        <ul><li class="list-unstyled margin-bottom-10">Contributor to a team of developers and worked along side business partners to successfully implement an A/B testing process.</li><li class="list-unstyled margin-bottom-10">Research, analysis and development of front-end solutions and enhancements to lowes.com within a Kanban framework.</li><li class="list-unstyled margin-bottom-10">Develop solutions on top of Adobe Experience Manager (Adobe CQ, Adobe Test &amp; Target, Adobe Recommendations, Adobe Sitecatalyst, Adobe Dynamic Tag Manager) to support business needs.</li><li class="list-unstyled margin-bottom-10">Agile SCRUM Development environment.</li><li class="list-unstyled margin-bottom-10">Utilize Atlassian Jira for agile project tracking.</li><li class="list-unstyled margin-bottom-10">Utilize Atlassian Confluence for documentation.</li><li class="list-unstyled margin-bottom-10">Utilized git version control.</li><li class="list-unstyled margin-bottom-10">Lead developer of A/B Tests on www.lowes.com and m.lowes.com utilizing Adobe Test and Target.</li><li class="list-unstyled margin-bottom-10">Advanced Integration between Frontend and Backend services using JSON and XML.</li><li class="list-unstyled margin-bottom-10">Contributor of analytics tagging on www.lowes.com and m.lowes.com utilizing Adobe DTM.</li><li class="list-unstyled margin-bottom-10">Broke down code for non-technical clients, provide extensive Q/A knowledge and testing, and manage tasking for our team.</li><li class="list-unstyled margin-bottom-10">Contributed to Lowes.com redesign, released in 2016.</li><li class="list-unstyled margin-bottom-10">Lead developer for front-end implementation of promotions and static content updates, site wide, released on a daily cadence. </li><li class="list-unstyled margin-bottom-10">Debugged and provided solutions for impediments and small enhancements to lowes.com and m.lowes.com using Charles Proxy, HTML, CSS, JS, jQuery, handlebars and nodejs.</li><li class="list-unstyled margin-bottom-10">Participated in daily standup, quad sessions, story grooming sessions, sprint planning and sprint retrospectives.</li><li class="list-unstyled margin-bottom-10">Worked with others to develop and utilize user chat implementation for lowesforpros.com and lowes.com using Adobe DTM, live-person, javascript, html and css.</li><li class="list-unstyled margin-bottom-10">Mentor and Train Junior level developers.</li><li class="list-unstyled margin-bottom-10">Interviewed candidates for full-time positions from a technical perspective.</li></ul>
                      </div>
                    </div><div class="resume-item row">
                      <div class="col-md-6 col-sm-6 resume-left wow fadeInUp" data-wow-delay="0.15s" style="visibility: hidden; animation-delay: 0.15s; animation-name: none;">
                        <div>
                        <a href="#"><img style="height: 50px; width: 50px" src="http://www.charbase.com/images/glyph/9634"></a>
                          <h2 class="capitalize">freelance</h2>
                          <p>2011-2017</p>
                          <p class="capitalize">cary, north carolina</p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 resume-right">
                        <h2 class="capitalize">freelance web developer</h2>
                        <p>During freelancing, I worked on a number of websites and side projects. These ranged from local pizzeria's to small weather app side projects.<br><br></p>
                        <ul><li class="list-unstyled margin-bottom-10">Design and develop, as well as provide creative copy for static websites.</li><li class="list-unstyled margin-bottom-10">Specializing in HTML / CSS / Adobe Photoshop/Illustrator</li><li class="list-unstyled margin-bottom-10">JavaScript (jQuery) / AJAX to build the front-end</li><li class="list-unstyled margin-bottom-10">Created email marketing campaigns</li><li class="list-unstyled margin-bottom-10">Created advertisements for both the web and print.</li></ul>
                      </div>
                    </div></div>
      </div>
  </div>
    </section>
    <!-- ==== Resume Section End ==== -->


    <!-- ==== Portfolio Section Start ==== -->
    <section class="portfolio-section fix" id="portfolio">
      <div class="container-fluid pt100">
    <div class="section-title mb70">
      <h2>Some Work Examples</h2>
    </div>

    <ul class="portfolio-filter mb40">
      <li class="filter active" data-filter="*">ALL</li>
      <li class="filter" data-filter=".lowes">Lowe's</li>
      <li class="filter" data-filter=".toys">Toys R Us</li>
      <li class="filter" data-filter=".suntrust">SunTrust</li>
      <li class="filter" data-filter=".oppenheimer">Oppenheimer Funds</li>
      <li class="filter" data-filter=".barnes">Barnes &amp; Noble</li>
      <!-- <li class="filter" data-filter=".uber">Uber</li> -->
    </ul>

    <div class="row isotope_items" style="position: relative; height: 1882.02px;">
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 lowes" style="position: absolute; left: 0px; top: 0px;">
        <a class="work-item default-popup" href="public/assets/images/lowes/productRecommendation.png">
          <img src="public/assets/images/lowes/productRecommendation.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Product Recommendation Carousel</h2>
              <p>Consumed backend response to create a custom carousel template using slick.js<br>
              First carousel to have Add To Cart functionality on Lowes.com</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 682px; top: 0px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/4testsin1.png">
          <img src="public/assets/images/toysrus/4testsin1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Four experiences in one</h2>
              <p>1. Toys for Tots donate button in the top right<br>
              2. Free Shipping banner under the search bar<br>
              3. Action figure of the year ribbon and badge on the product detail image<br>
              4. Free $5 eGift Card banner</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 barnes" style="position: absolute; left: 1365px; top: 0px;">
        <a class="work-item default-popup" href="public/assets/images/barnes/Barnes_Mobile_Checkout_Carousel_1.png">
          <img src="public/assets/images/barnes/Barnes_Mobile_Checkout_Carousel_1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Mobile Checkout Items</h2>
              <p>Template creation of a carousel on mobile checkout pages to display items in the users cart<br>
              Utilized slick.js and populated the carousel by grabbing items from the cart in the digitalData object<br>
              Template consisted of:<br>
              1. Product image<br>
              2. Product title<br>
              3. Product author<br>
              4. Product price<br>
              5. Product quantity<br><br>
              If only one item is in cart, no carousel is initalized and the template will only display one item
              </p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 0px; top: 318px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/ispuorderconfirmation1.png">
          <img src="public/assets/images/toysrus/ispuorderconfirmation1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>FREE Store Pickup</h2>
              <p>On checkout pages, above the list of items in the users cart is displayed a green FREE store pickup banner<br>
              </p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 suntrust" style="position: absolute; left: 682px; top: 341px;">
        <a class="work-item default-popup" href="public/assets/images/suntrust/SunTrust_Carousel-2.png">
          <img src="public/assets/images/suntrust/SunTrust_Carousel-2.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Carousel</h2>
              <p>Credit Card landing pages custom carousel slides showing #1 Ranked Cash Rewards Credit Card.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 0px; top: 661px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/pickuporderconfirmation.png">
          <img src="public/assets/images/toysrus/pickuporderconfirmation.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Free Store Pickup Tooltip</h2>
              <p>These tooltips were applied to the DOM if a product was available for drive-up pickup in a list of specific stores.<br>
              If the list of stores was in the array, then the tooltip gets added to that product.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 682px; top: 683px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/plp_desktop_toy_of_the_year_2.png">
          <img src="public/assets/images/toysrus/plp_desktop_toy_of_the_year_2.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Toy Of The Year</h2>
              <p>Toy Of The Year products were in abundance, consisting of over 350 toys, these toys were tagged with additional DOM elements:<br>
              1. Toy of the year ribbon<br>
              2. Toy of the year badge<br>
              These ribbons were red in color, and badges were red finalists badges.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 682px; top: 975px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/ispuPDPSlideOut.png">
          <img src="public/assets/images/toysrus/ispuPDPSlideOut.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Slide Out Info Bar</h2>
              <p>Created terms and conditions slide out for specific products</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 suntrust" style="position: absolute; left: 0px; top: 1096px;">
        <a class="work-item default-popup" href="public/assets/images/suntrust/SunTrust_Ribbon.png">
          <img src="public/assets/images/suntrust/SunTrust_Ribbon.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>#1 Ranked Ribbon</h2>
              <p>Custom #1 Ranked Ribbon</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 oppenheimer" style="position: absolute; left: 1365px; top: 1147px;">
        <a class="work-item default-popup" href="public/assets/images/oppenheimer/desktoppopuprelatedarticle1.png">
          <img src="public/assets/images/oppenheimer/desktoppopuprelatedarticle1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Related Insights Popup</h2>
              <p>The related insights on this page were near the footer of the page.<br>
              With many of these articles being lengthy, we tested if users were to view a related article prior to finishing their current article, if they would be more likly to continue reading related insight articles.<br>
              This template grabs the image, title and date of the first related article on the page, and displays it fixed to the page when the user scrolls more than 50% of the page.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 lowes" style="position: absolute; left: 682px; top: 1314px;">
        <a class="work-item default-popup" href="public/assets/images/lowes/ratingsandreviews.png">
          <img src="public/assets/images/lowes/ratingsandreviews.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Ratings and Reviews</h2>
              <p>Created ratings and reviews template to show the number of ratings with the average, the recommended this product percent and Community Q &amp; A above the product detail image.<br>
              This information was also provided in the accordion tab in the description of the products on product detail pages lower on the page.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
    </section>
    <!-- ==== Portfolio Section End ==== -->


    <!-- ==== Contact Section Start ==== -->

    <!-- ==== Contact Section End ==== -->


    <!-- ==== Footer Section Start ==== -->
    <footer class="footer-section fix">
      <div class="container">
    <!-- social media -->
    <div class="social-links mt25">
      <a href="https://www.linkedin.com/in/jason-schmitt-aa974932/" target="_blank" class="facebook wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;"><i class="fa fa-linkedin-square"></i></a>
    </div>
    <p>Jason Schmitt <span class="year">2019</span>.</p>
  </div>
    </footer>
    <!-- ==== Footer Section End ==== -->

    <!--====== Javascripts & Jquery ======-->
    <script src="public/assets/vendor/jquery-2.1.4.min.js"></script>

    <script src="public/assets/vendor/bootstrap.min.js"></script>

    <script src="public/assets/vendor/plugin.js"></script>

    <script src="public/assets/vendor/main.js"></script>

    <script src="public/assets/vendor/footer.js"></script>
    <script src="public/assets/vendor/resume.js"></script>



  </body>
</html>
