<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>google api test</title>
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.7.4-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        <!-- include font awesome library for icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css" />
        <!-- calendar picker -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <!-- calendar picker color theme -->
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_red.css">
        <style>
          .hide {
            display: none;
          }
        </style>
    </head>
    <body>

      <section id="google-calendar" class="container">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input summary" type="text" placeholder="Text input">
          </div>
        </div>
        <div class="field">
          <label class="label">Location</label>
          <div class="control">
            <input class="input location" type="text" placeholder="Text input">
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input description" type="text" placeholder="Text input">
          </div>
        </div>
        <div class="field">
            <label class="label">Date</label>
            <input class="input date" type="text" placeholder="Select Date.." data-input> <!-- input is mandatory -->
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button id="post-event" class="button is-link">Post Event</button>
          </div>
          <div class="control">
            <button class="button is-text clear-google-form">Clear</button>
          </div>
        </div>
        <div class="google-api-progress hide">
          <progress class="progress is-small is-primary" max="100">15%</progress>
        </div>
        <div id="google-api-msg"></div>
      </section>


      <!--====== Javascripts & Jquery ======-->
      <script src="public/assets/vendor/jquery-2.1.4.min.js"></script>
      {{!-- <script src="../js/bulma.js"></script> --}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js"></script>
      {{!-- moment js --}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      <!-- calendar picker -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <script src="/build/js/app.min.js" type="text/javascript"></script>
    </body>
</html>