<!-- ==== About Section Start ==== -->
<section class="about-section fix" id="about">
  <div class="container pt100 pb100">
    <div class="row">
      <div class="mb70">
        <h2></h2>
      </div>
      <div class="col-md-3 about-img">
        <img src="public/assets/images/schmitt.jpg" alt="">
      </div>
      <div class="col-md-9 about-text">
        <p>My name is Jason Schmitt.</p>

        <p>I am a New Jersey-based front end engineer who loves front-end development, designing user interfaces and so much more!</p>

        <p>I have a wide set of skills, ranging from front-end to back-end, from UX/UI design to object-oriented programming, from- well just see my skills below!</p>

        <p><strong>Skills:</strong></p>

        <p><strong>[Front end]</strong> JavaScript, Node.js, Vue, React, Handlebars, HTML5, CSS, SCSS, LESS, jQuery, Vue.js</p>

        <p><strong>[Back end]</strong> Node/Express, Mongo, SQL</p>

        <p><strong>[Various]</strong> Git, Agile Development, Scrum methodology</p>

        <p>Check out some of my project links as well as the code repositories for them below!</p>

        <a href="public/assets/images/JasonSchmittResumeApril2019.pdf" target="_blank"><button type="button" class="resume btn site-btn btn-outline transition-ease mt10" data-wow-delay="0.1s">Download Resume</button></a>
        <div class="social-links mt25">
          <a href="https://www.linkedin.com/in/jason-schmitt-aa974932/" target="_blank" class="facebook wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== About Section End ==== -->