<!-- ==== About Section Start ==== -->
<section class="service-section fix">
  <div class="container pt100 pb100">
    <div class="section-title mb70">
        <h2>Sites written for</h2>
    </div>
    <div class="row service-section-js">
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/boa.jpg">
                <h4>Bank of America</h4>
                <p>Front end development with less and handlebars</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/uber/logo.png">
                <h4>Uber</h4>
                <p>Analytics and A/B testing</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/oppenheimer/logo.jpg">
                <h4>Oppenheimer Funds</h4>
                <p>Analytics and A/B testing</p>
            </div>
        </div>
    </div>


    <div class="row mt30">
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="service-item">
                <!-- <i class="fa fa-desktop"></i> -->
                <img class="service-img" src="public/assets/images/lowes/logo.jpg">
                <h4>Lowe's Home Improvement</h4>
                <p>Daily Production, Projects, Analytics and A/B testing</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/toysrus/logo.png">
                <h4>Toy's R Us</h4>
                <p>Lead developer. Analytics and A/B testing</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/suntrust/logo.png">
                <h4>SunTrust</h4>
                <p>Analytics and A/B testing</p>
            </div>
        </div>
    </div>


    <div class="row mt30">
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/barnes/logo.svg">
                <h4>Barnes and Noble</h4>
                <p>Analytics and A/B testing</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/uber/logo.png">
                <h4>Uber</h4>
                <p>Analytics and A/B testing</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/oppenheimer/logo.jpg">
                <h4>Oppenheimer Funds</h4>
                <p>Analytics and A/B testing</p>
            </div>
        </div>
    </div>
    <div class="row mt30">
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/totalwine/logo.jpg">
                <h4>Total Wine</h4>
                <p>Analytics</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/clinique/logo.svg">
                <h4>Clinique</h4>
                <p>Analytics and A/B testing</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="service-item">
                <img class="service-img" src="public/assets/images/cozzolinos/logo.jpg">
                <h4>Cozzolino's New York Style Pizzeria</h4>
                <p>My first paying client.</p>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- ==== About Section End ==== -->