<!-- ==== About Section Start ==== -->
<section class="about-section fix" id="about">
  <div class="container pt100 pb100">
    <div class="row">
      <div class="mb70">
        <h2></h2>
      </div>
      <div class="col-md-3 about-img">
        <img src="public/assets/images/schmitt.jpg" alt="">
      </div>
      <div class="col-md-9 about-text">
        <p>Hello. I am Jason Schmitt, currently residing in Hamilton, New Jersey, working as a Front End Engineer.</p>

        <p>I started writing html/css in high school at age 15, making an angelfire website with the main content being photographs and videos of my friends and I skateboarding. Fast forward to today, I have obtained a degree concentrating in Software Engineering from UNC Charlotte, as well as have over 3 years of professional web development experience ranging from retail websites to banking to ecommerce to your local pizzeria.</p>

        <p>With 4+ years</p>

        <p>My professional website efforts include working on a/b testing and analytics as well as small projects for ecommerce websites.</p>

        <p>Specialities: Node.js, HTML5, CSS3, JavaScript, jQuery, Responsive Web Design, Mobile Web, Git, Gulp. Looking for a git based agile team preferably working with node, mongodb, handlebars/react, sass, mvc/mv* architecture.</p>

        <p>Below are the professional websites I have written html, css and javascript for.</p>

        <p>Thank you for your time.</p>

        <a href="public/assets/images/JasonSchmittResumeJuly2018.pdf" target="_blank"><button type="button" class="resume btn site-btn btn-outline transition-ease mt10" data-wow-delay="0.1s">Download Resume</button></a>
        <div class="social-links mt25">
          <a href="https://www.linkedin.com/in/jason-schmitt-aa974932/" target="_blank" class="facebook wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== About Section End ==== -->