<!-- ==== Footer Section Start ==== -->
<footer class="footer-section fix">
  <div class="container">
    <!-- social media -->
    <div class="social-links mt25">
      <a href="https://www.linkedin.com/in/jason-schmitt-aa974932/" target="_blank" class="facebook wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;"><i class="fa fa-linkedin-square"></i></a>
    </div>
    <p>Jason Schmitt <span class="year">2019</span>.</p>
  </div>
</footer>
<!-- ==== Footer Section End ==== -->