<!--====== Preloader Start ======-->
<div id="preloder" style="display: none;">
<div class="loader" style="display: none;"><div></div><div></div><div></div></div>
</div>
<!--====== Preloader End ======-->

<!--====== Header Section Start ======-->
<header class="header-section">
  <div class="logo">
    <!-- Logo -->
    <a href="#">Jason Schmitt</a>
  </div>
  <div class="responsive"><i class="fa fa-bars"></i></div>
  <!-- Navigation -->
  <ul class="menu-list">
    <li><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#sideprojects">Side Projects</a></li>
    <li><a href="#resume">Resume</a></li>
    {{!-- <li><a href="#portfolio">Portfolio</a></li> --}}
    {{!-- {{#if hbsObject.user}}
      <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><img src="https://gravatar.com/avatar/405fa83edf86f248782789f09898bfaf?s=60&amp;d=retro" title="" style=""><span>{{hbsObject.user.email}}</span><i class="caret"></i></a>
        <ul class="dropdown-menu" style="background-color: #000; text-align: center;">
          <li class="dropdown-item" style="display: block;"><a href="/account">My Account</a></li>
          <li class="dropdown-item" style="display: block;"><a href="/logout">Logout</a></li>
        </ul>
      </li>
    {{else}}
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/signup">Create Account</a></li>
    {{/if}} --}}
  </ul>
</header>
<!--====== Header Section End ======-->