    <!-- ==== Portfolio Section Start ==== -->
    <section class="portfolio-section fix" id="portfolio">
      <div class="container-fluid pt100">
    <div class="section-title mb70">
      <h2>Some Work Examples</h2>
    </div>

    <ul class="portfolio-filter mb40">
      <li class="filter active" data-filter="*">ALL</li>
      <li class="filter" data-filter=".lowes">Lowe's</li>
      <li class="filter" data-filter=".toys">Toys R Us</li>
      <li class="filter" data-filter=".suntrust">SunTrust</li>
      <li class="filter" data-filter=".oppenheimer">Oppenheimer Funds</li>
      <li class="filter" data-filter=".barnes">Barnes &amp; Noble</li>
      <!-- <li class="filter" data-filter=".uber">Uber</li> -->
    </ul>

    <div class="row isotope_items" style="position: relative; height: 1882.02px;">
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 lowes" style="position: absolute; left: 0px; top: 0px;">
        <a class="work-item default-popup" href="public/assets/images/lowes/productRecommendation.png">
          <img src="public/assets/images/lowes/productRecommendation.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Product Recommendation Carousel</h2>
              <p>Consumed backend response to create a custom carousel template using slick.js<br>
              First carousel to have Add To Cart functionality on Lowes.com</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 682px; top: 0px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/4testsin1.png">
          <img src="public/assets/images/toysrus/4testsin1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Four experiences in one</h2>
              <p>1. Toys for Tots donate button in the top right<br>
              2. Free Shipping banner under the search bar<br>
              3. Action figure of the year ribbon and badge on the product detail image<br>
              4. Free $5 eGift Card banner</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 barnes" style="position: absolute; left: 1365px; top: 0px;">
        <a class="work-item default-popup" href="public/assets/images/barnes/Barnes_Mobile_Checkout_Carousel_1.png">
          <img src="public/assets/images/barnes/Barnes_Mobile_Checkout_Carousel_1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Mobile Checkout Items</h2>
              <p>Template creation of a carousel on mobile checkout pages to display items in the users cart<br>
              Utilized slick.js and populated the carousel by grabbing items from the cart in the digitalData object<br>
              Template consisted of:<br>
              1. Product image<br>
              2. Product title<br>
              3. Product author<br>
              4. Product price<br>
              5. Product quantity<br><br>
              If only one item is in cart, no carousel is initalized and the template will only display one item
              </p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 0px; top: 318px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/ispuorderconfirmation1.png">
          <img src="public/assets/images/toysrus/ispuorderconfirmation1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>FREE Store Pickup</h2>
              <p>On checkout pages, above the list of items in the users cart is displayed a green FREE store pickup banner<br>
              </p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 suntrust" style="position: absolute; left: 682px; top: 341px;">
        <a class="work-item default-popup" href="public/assets/images/suntrust/SunTrust_Carousel-2.png">
          <img src="public/assets/images/suntrust/SunTrust_Carousel-2.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Carousel</h2>
              <p>Credit Card landing pages custom carousel slides showing #1 Ranked Cash Rewards Credit Card.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 0px; top: 661px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/pickuporderconfirmation.png">
          <img src="public/assets/images/toysrus/pickuporderconfirmation.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Free Store Pickup Tooltip</h2>
              <p>These tooltips were applied to the DOM if a product was available for drive-up pickup in a list of specific stores.<br>
              If the list of stores was in the array, then the tooltip gets added to that product.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 682px; top: 683px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/plp_desktop_toy_of_the_year_2.png">
          <img src="public/assets/images/toysrus/plp_desktop_toy_of_the_year_2.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Toy Of The Year</h2>
              <p>Toy Of The Year products were in abundance, consisting of over 350 toys, these toys were tagged with additional DOM elements:<br>
              1. Toy of the year ribbon<br>
              2. Toy of the year badge<br>
              These ribbons were red in color, and badges were red finalists badges.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 toys" style="position: absolute; left: 682px; top: 975px;">
        <a class="work-item default-popup" href="public/assets/images/toysrus/ispuPDPSlideOut.png">
          <img src="public/assets/images/toysrus/ispuPDPSlideOut.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Slide Out Info Bar</h2>
              <p>Created terms and conditions slide out for specific products</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 suntrust" style="position: absolute; left: 0px; top: 1096px;">
        <a class="work-item default-popup" href="public/assets/images/suntrust/SunTrust_Ribbon.png">
          <img src="public/assets/images/suntrust/SunTrust_Ribbon.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>#1 Ranked Ribbon</h2>
              <p>Custom #1 Ranked Ribbon</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 oppenheimer" style="position: absolute; left: 1365px; top: 1147px;">
        <a class="work-item default-popup" href="public/assets/images/oppenheimer/desktoppopuprelatedarticle1.png">
          <img src="public/assets/images/oppenheimer/desktoppopuprelatedarticle1.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Related Insights Popup</h2>
              <p>The related insights on this page were near the footer of the page.<br>
              With many of these articles being lengthy, we tested if users were to view a related article prior to finishing their current article, if they would be more likly to continue reading related insight articles.<br>
              This template grabs the image, title and date of the first related article on the page, and displays it fixed to the page when the user scrolls more than 50% of the page.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
      <!-- Work item -->
      <div class="nopad col-md-4 col-sm-6 col-xs-12 lowes" style="position: absolute; left: 682px; top: 1314px;">
        <a class="work-item default-popup" href="public/assets/images/lowes/ratingsandreviews.png">
          <img src="public/assets/images/lowes/ratingsandreviews.png" alt="">
          <div class="work-inner">
            <div class="work-info">
              <h2>Ratings and Reviews</h2>
              <p>Created ratings and reviews template to show the number of ratings with the average, the recommended this product percent and Community Q &amp; A above the product detail image.<br>
              This information was also provided in the accordion tab in the description of the products on product detail pages lower on the page.</p>
              <span>View</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
    </section>
    <!-- ==== Portfolio Section End ==== -->